*.egg-info/
.cache/
.eggs/
.ipynb_checkpoints/
.pytest_cache/
build/
dist/
doc/_build/
doc/_static/
doc/_templates/
htmlcov/
oprofile_data/
result_images/
.*.swp
*.o
*.pyc
*.pyd
*.so
.coverage
.gdb_history
